body {
  padding: 0px 25% 0px 25%;
}
.justify {
  display: flex;
  justify-content: space-between;
}
h4 {
  margin: 0.5px;
}
h1 {
  margin-bottom: 0px;
}
h3 {
  margin:0px;
}
ul {
  margin: 0.5px;
}
hr.bold {
  height: 2px;
}
hr {
  border: none;
  height: 1.5px;
  background-color: #333;
}
.italic {
  font-style: italic;
}
